body {
  font-family: "Raleway", sans-serif;
  background-color: #bfbdbd;
}

.img-h{
  width: 50%;
  padding: 0%;
  margin: 0%;
}
.navbar{
  background-color: black;
  color: black;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/imagen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Productos Estrella */
.bg-info{
  background-color: rgb(199, 195, 137) !important;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
